/*------full page stylings------*/
html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

/*------input section stylings-----*/
section {
  position: fixed;
  display: inline-block;
  float: left;
  height: 100%;
  width: 50%;
  background-color: #455a64;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 5.5rem;
  font-weight: 800;
  margin: 9rem 0 5rem 0;
}

img {
  height: 4.3rem;
}

input {
  display: block;
  height: 2.8rem;
  width: 85%;
  margin: 0 auto 4.5rem auto;
  padding-top: .65rem;
  padding-left: 1rem;
  font-size: 2rem;
}

input::placeholder {
  font-size: 2.25rem;
}

.enter-button{
  height: 3.4rem;
  width: 88%;
  border: none;
  background-color: #ffc107;
  color:#fff;
  font-size: x-large;
  font-weight: 800;
}

/*-------card main stylings------*/
main {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  background-color: #cfd8dc;
  overflow: scroll;
}

h2 {
  color: #455A64;
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
}
  
article {
  height: ;
  border: .125rem solid #607D8B;
  margin: 2rem;
  padding: 1.25rem 1.25rem .725rem 1.25rem;
  background-color: #FFF;
}

a {
  color: #607D8B;
  text-decoration-color: #F2F4F4;
  font-size: 1.75rem;
  display: block;
  margin: 1.5625rem 0;
}

hr {
}

.article-buttons {
  border: none;
  color: #455A64;
  text-decoration-line: underline;
  text-decoration-color: #F2F4F4; 
  font-size: 1.1875rem;
}
/*----------when read & hover-------*/
.enter-button:hover {
  background-color: #FFD773;
}

a:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
  font-weight: 800;
}

.article-buttons:hover {
  text-decoration-color: #FFC107;
  font-weight: 800;
}

.color {
  background-color: #F2F4F4;
  color: #F05A28;
  font-weight: 800;
}

.read {
  background-color: #F2F4F4;
}

.delete-button {
  float: right;
}